@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #064089;
  --ifm-color-primary-dark: #053a7b;
  --ifm-color-primary-darker: #053674;
  --ifm-color-primary-darkest: #042d60;
  --ifm-color-primary-light: #074697;
  --ifm-color-primary-lighter: #074a9e;
  --ifm-color-primary-lightest: #0853b2;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-font-family-base: 
  'IBM Plex Sans',
  'Inter',
    -apple-system,
    "Segoe UI",
    Roboto,
    Ubuntu,
    Cantarell,
    "Noto Sans",
    sans-serif,
    "system-ui",
    "Segoe UI",
    Helvetica,
    Arial,
    sans-serif;

    --ifm-heading-font-family: 'IBM Plex Sans';
    --ifm-font-family-monospace: "IBM Plex Mono", monospace;

}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #3e97ff;
  --ifm-color-primary-dark: #1e86ff;
  --ifm-color-primary-darker: #0e7dff;
  --ifm-color-primary-darkest: #0066de;
  --ifm-color-primary-light: #5ea8ff;
  --ifm-color-primary-lighter: #6eb1ff;
  --ifm-color-primary-lightest: #9dcaff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

}

.footer__copyright {
  text-align: left;
  font-size: 0.8rem;
  padding-top: 1rem;
}
